* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --prim-color: #da3341;
  --main-color: #2e3434;
  --opacity-colorBg: #424848b2;
  --main-text-color: #eee;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background-color: var(--opacity-colorBg);
}
::-webkit-scrollbar-thumb {
  background-color: var(--prim-color);
}
body {
  background-color: var(--main-color);
}
.container {
  position: relative;
  display: flex;
  min-height: 100vh;
}
.container .side-bar {
  width: 20%;
  padding: 30px 25px;
  background-color: #393d4278;
  user-select: none;
}
.container .side-bar .box-logo {
  margin-bottom: 30px;
}
.container .side-bar .box-logo h1 {
  color: var(--prim-color);
  font-size: 3rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding: 12px;
}
.container .side-bar .nav li {
  list-style: none;
}
.container .side-bar .nav li a {
  display: block;
  padding: 16px 12px;
  text-decoration: none;
  margin: 10px 0;
  font-size: 20px;
  color: var(--main-text-color);
}
.container .side-bar .nav li a.active {
  background-color: var(--prim-color);
  border-radius: 8px;
}
.container .side-bar .nav li a i {
  margin: 0 8px;
}
.container .side-bar .nav li a span {
  display: inline;
}

@media screen and (max-width: 900px) {
  .container .side-bar {
    width: fit-content;
    padding: 0;
  }
  .container .side-bar .box-logo h1 {
    font-size: 2rem;
  }
  .container .side-bar .nav li a {
    width: fit-content;
    margin: 20px auto;
  }
  .container .side-bar .nav li a span {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .container {
    display: block;
  }
  .container .side-bar {
    width: 100%;
  }
  .container .side-bar .box-logo {
    margin-bottom: 0;
    background-color: var(--opacity-colorBg);
    border-bottom: 1px solid var(--main-color);
  }
  .container .side-bar .box-logo h1 {
    text-align: center;
  }
  .container .side-bar .nav li a {
    text-align: center;
    width: 100%;
    margin: 0;
    background-color: var(--opacity-colorBg);
    border-bottom: 1px solid var(--main-color);
  }
  .container .side-bar .nav li a.active {
    border-radius: 0;
  }
  .container .side-bar .nav li a span {
    display: inline-block;
    margin: 0 10px;
  }
}
